<ul class="list-group list-group-flush mb-3 overflow-auto" style="max-height: 200px;">
{{#if randomRecipe.meals.[0].strIngredient1}}<li>{{randomRecipe.meals.[0].strIngredient1}}: {{randomRecipe.meals.[0].strMeasure1}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient2}}<li>{{randomRecipe.meals.[0].strIngredient2}}: {{randomRecipe.meals.[0].strMeasure2}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient3}}<li>{{randomRecipe.meals.[0].strIngredient3}}: {{randomRecipe.meals.[0].strMeasure3}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient4}}<li>{{randomRecipe.meals.[0].strIngredient4}}: {{randomRecipe.meals.[0].strMeasure4}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient5}}<li>{{randomRecipe.meals.[0].strIngredient5}}: {{randomRecipe.meals.[0].strMeasure5}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient6}}<li>{{randomRecipe.meals.[0].strIngredient6}}: {{randomRecipe.meals.[0].strMeasure6}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient7}}<li>{{randomRecipe.meals.[0].strIngredient7}}: {{randomRecipe.meals.[0].strMeasure7}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient8}}<li>{{randomRecipe.meals.[0].strIngredient8}}: {{randomRecipe.meals.[0].strMeasure8}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient9}}<li>{{randomRecipe.meals.[0].strIngredient9}}: {{randomRecipe.meals.[0].strMeasure9}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient10}}<li>{{randomRecipe.meals.[0].strIngredient10}}: {{randomRecipe.meals.[0].strMeasure10}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient11}}<li>{{randomRecipe.meals.[0].strIngredient11}}: {{randomRecipe.meals.[0].strMeasure11}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient12}}<li>{{randomRecipe.meals.[0].strIngredient12}}: {{randomRecipe.meals.[0].strMeasure12}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient13}}<li>{{randomRecipe.meals.[0].strIngredient13}}: {{randomRecipe.meals.[0].strMeasure13}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient14}}<li>{{randomRecipe.meals.[0].strIngredient14}}: {{randomRecipe.meals.[0].strMeasure14}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient15}}<li>{{randomRecipe.meals.[0].strIngredient15}}: {{randomRecipe.meals.[0].strMeasure15}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient16}}<li>{{randomRecipe.meals.[0].strIngredient16}}: {{randomRecipe.meals.[0].strMeasure16}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient17}}<li>{{randomRecipe.meals.[0].strIngredient17}}: {{randomRecipe.meals.[0].strMeasure17}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient18}}<li>{{randomRecipe.meals.[0].strIngredient18}}: {{randomRecipe.meals.[0].strMeasure18}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient19}}<li>{{randomRecipe.meals.[0].strIngredient19}}: {{randomRecipe.meals.[0].strMeasure19}}</li>{{/if}}
{{#if randomRecipe.meals.[0].strIngredient20}}<li>{{randomRecipe.meals.[0].strIngredient20}}: {{randomRecipe.meals.[0].strMeasure20}}</li>{{/if}}
</ul>